.tdMenu  {
    text-align: center;
}
.desayuno{
    vertical-align: top;
}
.almuerzo{
    vertical-align: top;
}
.cena{
    vertical-align: top;
}
table {
    background-color: rgb(247, 229, 217);
    border-color: red;
    border-width: 2px;
    
}
